$font1: 'IBM Plex Sans', sans-serif;
$font2: 'IBM Plex Mono', monospace;

@mixin btn {
    display: block;
    padding-top: 13px;
    margin: 36px auto 8px;
    width: 90vw;
    height: 48px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font2;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    background: #00F3BB;
    color: #060A24;
} 