.navbar__mobile {
  display: block;
  width: 100%;
  min-height: 44px;
  position: relative;
  background: white;
  z-index: 1;
  background-image: url("./images/logo.svg");
  background-position: 5% 10px;
  background-repeat: no-repeat;
}

.navbar__mobile .navbar__checkbox {
  width: 25px;
  height: 22px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 11px;
  left: 88%;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.navbar__mobile .menu__line {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  top: 16px;
  left: 89%;
  margin-bottom: 3px;
  background: #060A24;
  z-index: 2;
  cursor: pointer;
  -webkit-transform-origin: 4px 4px;
  transform-origin: 4px 4px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navbar__mobile .navbar__menu-desplegable {
  background-color: #0000ec;
  position: relative;
  width: 100%;
  max-height: 0;
  top: 29px;
  z-index: -2;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  overflow: hidden;
}

.navbar__mobile .navbar__menu-desplegable .lista {
  margin: 0;
  padding: 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__mobile .navbar__menu-desplegable .lista li {
  list-style: none;
  margin: 0 5% 24px;
}

.navbar__mobile .navbar__menu-desplegable .lista li a {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbar__mobile .navbar__menu-desplegable .lista li a:hover {
  text-decoration: line-through;
  font-weight: 400;
  text-shadow: 1px 1px 5px #060A24;
}

.menu__line:first-child {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.menu__line:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.navbar__checkbox:checked ~ label {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-1px, 2px);
  transform: rotate(45deg) translate(-1px, 2px);
}

.navbar__checkbox:checked ~ label:nth-last-child(3) {
  -webkit-transform: rotate(0deg) scale(0.8, 0.8);
  transform: rotate(0deg) scale(0.8, 0.8);
  opacity: 0;
}

.navbar__checkbox:checked ~ label:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, 2px);
  transform: rotate(-45deg) translate(0, 2px);
}

.navbar__checkbox:checked ~ .navbar__menu-desplegable {
  -webkit-transform: none;
  transform: none;
  max-height: 100vh;
  margin-bottom: 2.2em;
}

.navbar__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar__mobile {
    min-height: 60px;
    background-image: url("/images/logo.svg");
    background-size: 30px;
    background-position: 5% 15px;
  }
  .navbar__mobile .navbar__checkbox {
    height: 21px;
    top: 18.5px;
    left: 91.7%;
  }
  .navbar__mobile .menu__line {
    top: 23px;
    left: 92%;
    width: 20px;
    height: 2px;
    -webkit-transform-origin: 2.5px 3.7px;
            transform-origin: 2.5px 3.7px;
  }
  .navbar__mobile .navbar__menu-desplegable {
    top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__mobile {
    width: 100%;
    height: 80px;
    position: relative;
    display: block;
    background: white;
    z-index: 1;
    background-image: url(/images/logo.svg);
    background-size: 36px 36px;
    background-position: 100px 22px;
    background-repeat: no-repeat;
  }
  .navbar__mobile .navbar__checkbox, .navbar__mobile .menu__line, .navbar__mobile .navbar__menu-desplegable, .navbar__mobile .lista {
    display: none;
  }
  .navbar__desktop {
    width: 600px;
    height: 80px;
    padding-right: 52px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__desktop a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #060A24;
    margin: 26px 48px 26px 0;
  }
  .navbar__desktop a:hover {
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: line-through;
    color: #00F3BB;
  }
  .navbar__desktop a:active {
    text-decoration: line-through;
    color: rgba(6, 10, 36, 0.56);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_container {
  padding: 5%;
}

.header_container .header__title {
  padding: 2px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  margin-bottom: 16px;
}

.header_container .header__title::after {
  content: '.';
  color: #0000EC;
}

.header_container .header__title .header__title-world {
  text-decoration: line-through;
  padding-right: 28.1vw;
}

.header_container .header__description {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
}

.header_container .header__description-2 {
  display: none;
}

.header_container .header__btn {
  display: block;
  padding-top: 13px;
  margin: 36px auto 8px;
  width: 90vw;
  height: 48px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  background: #00F3BB;
  color: #060A24;
}

.header_container .header__btn:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.episodios__container {
  height: 1210px;
  padding: 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0 100%);
  z-index: 0;
}

.episodios__container .episodios__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: white;
  line-height: 42px;
  padding: 1%;
  margin: 2.8rem 0 1.32rem;
}

.episodios__container .iframeItem {
  border: none;
  width: 93.1vw;
  height: 240px;
  z-index: 5;
}

.history__container {
  margin-top: -6em;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__container .history__container-phonepicture {
  width: 320px;
  height: 519px;
  z-index: 2;
}

.history__container .history__article {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
}

.history__container .history__article .history__article-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  margin: 27px 0 8px;
}

.title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  margin: 40px 0 14px;
  padding: 0 5%;
}

.images__container {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.images__container .images {
  width: 100%;
  height: auto;
}

.temas__container {
  padding: 0 5%;
}

.temas__container .temas__title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  margin: 48px 0 24px;
}

.temas__container .temas__images {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(288px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.temas__container .temas__images .tema1, .temas__container .temas__images .tema2, .temas__container .temas__images .tema3, .temas__container .temas__images .tema4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #060A24;
  text-align: center;
  line-height: 32px;
}

.temas__container .temas__images .tema1 .imageItem, .temas__container .temas__images .tema2 .imageItem, .temas__container .temas__images .tema3 .imageItem, .temas__container .temas__images .tema4 .imageItem {
  margin: 13px 0 5px;
}

.temas__container .temas__images .tema1 .imageItem.item, .temas__container .temas__images .tema2 .imageItem.item, .temas__container .temas__images .tema3 .imageItem.item, .temas__container .temas__images .tema4 .imageItem.item {
  margin-top: 29px;
}

.temas__container .temas__images .tema1 h3, .temas__container .temas__images .tema2 h3, .temas__container .temas__images .tema3 h3, .temas__container .temas__images .tema4 h3 {
  margin: 0 0 36px;
}

.novedades__container {
  padding: 0 5%;
  height: 341px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.novedades__container .novedades__title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  line-height: 42px;
  margin: 64px 0 36px;
}

.novedades__container .novedades__btn {
  display: block;
  padding-top: 13px;
  margin: 36px auto 8px;
  width: 90vw;
  height: 48px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  background: #00F3BB;
  color: #060A24;
  margin: 36px auto 15px;
}

.novedades__container .novedades__btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#020277), to(#00F0B8));
  background-image: linear-gradient(0deg, #020277 0%, #00F0B8 100%);
  color: white;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 121px;
}

.footer__container .footer__copyright {
  margin: 24px 0 16px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
}

.footer__container .footer__socialmedia {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container .footer__socialmedia .fab {
  width: 1rem;
  height: 1rem;
  color: #060A24;
  line-height: 28px;
  margin: 0 18.5px;
  cursor: pointer;
}

@media screen and (min-width: 425px) {
  .header_container .header__title {
    padding-left: 4%;
  }
  .header_container .header__title .header__title-world {
    padding-right: 0;
  }
  .header_container .header__description {
    padding-left: 4%;
    padding-right: 14%;
  }
  .header_container .header__btn {
    margin-left: 4%;
    max-width: 350px;
  }
  .history__container .history__article {
    padding: 0 4%;
  }
  .images__title .title {
    padding: 0 9%;
  }
  .novedades__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .novedades__container .novedades__title {
    margin: 20% 0 36px;
  }
  .novedades__container .novedades__btn {
    margin: 0;
    max-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .header_container {
    padding-left: 10%;
  }
  .header_container .header__title {
    font-size: 40px;
    margin-top: 30px;
  }
  .header_container .header__description {
    padding-right: 26%;
  }
  .episodios__container .episodios__title {
    margin: 2rem 0 10px 5%;
  }
  .episodios__container .episodios__iframes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .episodios__container .episodios__iframes .iframeItem {
    width: 70vw;
    height: 232px;
    padding: 0 0 3vh;
  }
  .history__container {
    margin-top: -5.8em;
  }
  .history__container .history__container-phonepicture {
    width: auto;
    height: 660px;
  }
  .history__container .history__article {
    padding: 0 5%;
  }
  .images__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(384px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  }
  .images__container .images {
    padding: 0;
    margin: 0;
    min-width: 320px;
    height: auto;
    font-size: 0;
  }
  .images__container .images img {
    width: 100%;
    height: auto;
  }
  .temas__container .temas__title {
    margin: 48px 0 40px;
  }
  .temas__container .temas__images {
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .novedades__container {
    -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
  }
  .novedades__container .novedades__title {
    margin: 15% 0 36px;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 121px;
  }
  .footer__container .footer__copyright {
    margin: 45px 5% 16px 10%;
    font-size: 15px;
  }
  .footer__container .footer__socialmedia {
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10% 0;
  }
}

@media screen and (min-width: 1024px) {
  .header_container {
    padding: 120px 0 5px 12%;
    display: inline-block;
  }
  .header_container .header__title {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 64px;
    letter-spacing: 1px;
    line-height: 84px;
  }
  .header_container .header__description {
    display: none;
  }
  .header_container .header__description-2 {
    width: 60%;
    display: block;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    color: #060A24;
    line-height: 24px;
  }
  .header_container .header__btn {
    margin: 56px 0 5px 0;
    padding-top: 15.5px;
    width: 226px;
    min-height: 56px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
  .episodios__container {
    height: 1042.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0 100%);
            clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0 100%);
  }
  .episodios__container .episodios__title {
    font-size: 48px;
    margin: 186px auto 26px 13.8vw;
    padding: 0;
  }
  .episodios__container .episodios__iframes {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .episodios__container .episodios__iframes .iframeItem {
    max-width: 39.3vw;
    min-width: 16.1vh;
  }
  .episodios__container .episodios__iframes .iframeItem.item1, .episodios__container .episodios__iframes .iframeItem.item3 {
    padding: 0 72px 0 0;
  }
  .episodios__container .episodios__iframes .iframeItem.item1, .episodios__container .episodios__iframes .iframeItem.item2 {
    padding-bottom: 72px;
  }
  .history__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 10% 0 8%;
    margin-top: -10.5em;
  }
  .history__container .history__container-phonepicture {
    width: auto;
    height: 660px;
  }
  .history__container .history__article {
    padding: 0;
    margin-left: 5%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
  }
  .history__container .history__article .history__article-title {
    font-size: 45px;
    color: #060A24;
    line-height: 62px;
    margin: 40px 0 24px;
  }
  .images__title .title {
    font-size: 45px;
    line-height: 62px;
    padding: 0 8%;
    margin: 64px 0 30px;
  }
  .temas__container {
    padding: 0 8%;
  }
  .temas__container .temas__title {
    margin: 64px 0 56px;
    font-size: 48px;
  }
  .temas__container .temas__images {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .temas__container .temas__images .tema1, .temas__container .temas__images .tema2, .temas__container .temas__images .tema3, .temas__container .temas__images .tema4 {
    font-size: 22px;
  }
  .temas__container .temas__images .tema1 .imageItem, .temas__container .temas__images .tema2 .imageItem, .temas__container .temas__images .tema3 .imageItem, .temas__container .temas__images .tema4 .imageItem {
    margin: 13px 0 5px;
  }
  .temas__container .temas__images .tema1 .imageItem.item, .temas__container .temas__images .tema2 .imageItem.item, .temas__container .temas__images .tema3 .imageItem.item, .temas__container .temas__images .tema4 .imageItem.item {
    margin-top: 13px;
  }
  .novedades__container {
    padding: 0 5%;
    height: 518px;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }
  .novedades__container .novedades__title {
    margin: 213px 0 36px;
    font-size: 48px;
    line-height: 62px;
  }
  .novedades__container .novedades__btn {
    width: 345px;
    min-height: 56px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 16.5px;
  }
  .footer__container {
    height: 95px;
  }
  .footer__container .footer__copyright {
    margin: 36px 5% 31px 6.945%;
    font-size: 16px;
    line-height: 28px;
  }
  .footer__container .footer__socialmedia {
    width: 228px;
    margin-right: 6.945%;
  }
  .footer__container .footer__socialmedia .fab {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .header_container {
    padding: 120px 0 5px calc(14% - 1.594px);
    display: inline-block;
  }
  .history__container {
    padding: 0 15% 0 13.9%;
  }
  .history__container .history__article {
    padding: 0 0 0 3%;
    margin-left: 7%;
  }
  .history__container .history__article .history__article-title {
    font-size: 48px;
    margin: 31px 0 24px;
  }
  .images__title .title {
    font-size: 48px;
    padding: 0 13%;
    margin: 64px 0 36px;
  }
  .images__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .temas__container {
    padding: 0 13.8%;
  }
  .temas__container .temas__title {
    margin: 64px 0 56px;
    font-size: 48px;
  }
  .temas__container .temas__images {
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .temas__container .temas__images .tema1, .temas__container .temas__images .tema2, .temas__container .temas__images .tema3, .temas__container .temas__images .tema4 {
    font-size: 21px;
  }
  .novedades__container {
    padding: 0 5%;
    height: 518px;
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  }
  .novedades__container .novedades__title {
    margin: 213px 0 36px;
    font-size: 48px;
    line-height: 62px;
  }
  .novedades__container .novedades__btn {
    width: 345px;
    min-height: 56px;
    font-size: 18px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=styles.css.map */