@import "./variables-mixin";
@import "./navbar-menu";
@import "./header";
@import "./episodios";
@import "./phone-history";
@import "./invitados-images";
@import "./temas";
@import "./novedades";
@import "./footer";


html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.content_container {
    display: flex;
    flex-direction: column;
}